<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{title}}</h1>
                <app-users-list [users]="users" (userDeleted)="deleteUser($event)"
                    (userToBeUpdated)="showUserForm($event)"></app-users-list>
            </div>
            <div class="col" *ngIf="selectedUser">
                <h2>User Form</h2>
                <app-user-form (updateUser)="onUpdateUser($event)" [user]="selectedUser"></app-user-form>
            </div>
        </div>
    </div>
</main>